USE [master];
GO

-- لو القاعدة موجودة امسحها عشان تبدأ من جديد
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'footballDB')
    DROP DATABASE [footballDB];
GO

-- إنشاء القاعدة بالمسار الافتراضي للجهاز عندك (أضمن حل)
CREATE DATABASE [footballDB];
GO

USE [footballDB];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [footballDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [footballDB]
GO
/****** Object:  Table [dbo].[League_Table]    Script Date: 4/28/2026 6:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[League_Table](
	[team_id] [int] NOT NULL,
	[season_year] [int] NOT NULL,
	[played] [int] NULL,
	[won] [int] NULL,
	[lost] [int] NULL,
	[drawn] [int] NULL,
	[points] [int] NULL,
	[GF] [int] NULL,
	[GA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[team_id] ASC,
	[season_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match_Features]    Script Date: 4/28/2026 6:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match_Features](
	[MatchID] [int] NOT NULL,
	[home_form] [float] NULL,
	[away_form] [float] NULL,
	[form_diff] [float] NULL,
	[home_goals_avg] [float] NULL,
	[away_goals_avg] [float] NULL,
	[goals_diff] [float] NULL,
	[home_fifa] [float] NULL,
	[away_fifa] [float] NULL,
	[rating_diff] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 4/28/2026 6:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [int] NOT NULL,
	[season_year] [int] NULL,
	[matchweek] [int] NULL,
	[hometeamID] [int] NULL,
	[awayteamID] [int] NULL,
	[home_goals] [int] NULL,
	[away_goals] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_data]    Script Date: 4/28/2026 6:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_data](
	[Date] [date] NOT NULL,
	[Season] [smallint] NOT NULL,
	[HomeTeam] [nvarchar](50) NOT NULL,
	[AwayTeam] [nvarchar](50) NOT NULL,
	[FTHG] [tinyint] NOT NULL,
	[FTAG] [tinyint] NOT NULL,
	[FTR] [nvarchar](50) NOT NULL,
	[home_points] [tinyint] NOT NULL,
	[away_points] [tinyint] NOT NULL,
	[home_form] [float] NOT NULL,
	[away_form] [float] NOT NULL,
	[form_diff] [float] NOT NULL,
	[home_goals_avg] [float] NOT NULL,
	[away_goals_avg] [float] NOT NULL,
	[goals_diff] [float] NOT NULL,
	[home_fifa] [float] NOT NULL,
	[away_fifa] [float] NOT NULL,
	[rating_diff] [float] NOT NULL,
	[round] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Season_Rating]    Script Date: 4/28/2026 6:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season_Rating](
	[teamID] [int] NOT NULL,
	[season_year] [int] NOT NULL,
	[fifa_rating] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[teamID] ASC,
	[season_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 4/28/2026 6:34:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[teamID] [int] NOT NULL,
	[teamname] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[teamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[League_Table] ([team_id], [season_year], [played], [won], [lost], [drawn], [points], [GF], [GA]) VALUES (1, 2020, 29, 12, 12, 5, 41, 33, 30)
INSERT [dbo].[League_Table] ([team_id], [season_year], [played], [won], [lost], [drawn], [points], [GF], [GA]) VALUES (1, 2021, 28, 14, 11, 3, 45, 41, 41)
INSERT [dbo].[League_Table] ([team_id], [season_year], [played], [won], [lost], [drawn], [points], [GF], [GA]) VALUES (1, 2022, 29, 19, 5, 5, 62, 66, 36)
GO
INSERT [dbo].[Match_Features] ([MatchID], [home_form], [away_form], [form_diff], [home_goals_avg], [away_goals_avg], [goals_diff], [home_fifa], [away_fifa], [rating_diff]) VALUES (1, 3, 3, 0, 1, 1, 0, 75, 78, -3)
INSERT [dbo].[Match_Features] ([MatchID], [home_form], [away_form], [form_diff], [home_goals_avg], [away_goals_avg], [goals_diff], [home_fifa], [away_fifa], [rating_diff]) VALUES (2, 0, 3, -3, 0, 2, -2, 81, 77, 4)
INSERT [dbo].[Match_Features] ([MatchID], [home_form], [away_form], [form_diff], [home_goals_avg], [away_goals_avg], [goals_diff], [home_fifa], [away_fifa], [rating_diff]) VALUES (3, 3, 3, 0, 4, 3, 1, 86, 82, 4)
GO
INSERT [dbo].[Matches] ([MatchID], [season_year], [matchweek], [hometeamID], [awayteamID], [home_goals], [away_goals]) VALUES (1, 2020, 1, 8, 9, 1, 2)
INSERT [dbo].[Matches] ([MatchID], [season_year], [matchweek], [hometeamID], [awayteamID], [home_goals], [away_goals]) VALUES (2, 2020, 1, 17, 14, 1, 1)
INSERT [dbo].[Matches] ([MatchID], [season_year], [matchweek], [hometeamID], [awayteamID], [home_goals], [away_goals]) VALUES (3, 2020, 1, 11, 1, 3, 1)
GO
INSERT [dbo].[raw_data] ([Date], [Season], [HomeTeam], [AwayTeam], [FTHG], [FTAG], [FTR], [home_points], [away_points], [home_form], [away_form], [form_diff], [home_goals_avg], [away_goals_avg], [goals_diff], [home_fifa], [away_fifa], [rating_diff], [round]) VALUES (CAST(N'2020-09-26' AS Date), 2020, N'Crystal Palace', N'Everton', 1, 2, N'A', 0, 3, 3, 3, 0, 1, 1, 0, 75, 78, -3, 1)
INSERT [dbo].[raw_data] ([Date], [Season], [HomeTeam], [AwayTeam], [FTHG], [FTAG], [FTR], [home_points], [away_points], [home_form], [away_form], [form_diff], [home_goals_avg], [away_goals_avg], [goals_diff], [home_fifa], [away_fifa], [rating_diff], [round]) VALUES (CAST(N'2020-09-27' AS Date), 2020, N'Tottenham Hotspur', N'Newcastle United', 1, 1, N'D', 1, 1, 0, 3, -3, 0, 2, -2, 81, 77, 4, 1)
INSERT [dbo].[raw_data] ([Date], [Season], [HomeTeam], [AwayTeam], [FTHG], [FTAG], [FTR], [home_points], [away_points], [home_form], [away_form], [form_diff], [home_goals_avg], [away_goals_avg], [goals_diff], [home_fifa], [away_fifa], [rating_diff], [round]) VALUES (CAST(N'2020-09-28' AS Date), 2020, N'Liverpool', N'Arsenal', 3, 1, N'H', 3, 0, 3, 3, 0, 4, 3, 1, 86, 82, 4, 1)
GO
INSERT [dbo].[Season_Rating] ([teamID], [season_year], [fifa_rating]) VALUES (1, 2020, 82)
INSERT [dbo].[Season_Rating] ([teamID], [season_year], [fifa_rating]) VALUES (1, 2021, 81)
INSERT [dbo].[Season_Rating] ([teamID], [season_year], [fifa_rating]) VALUES (1, 2022, 83)
GO
INSERT [dbo].[Teams] ([teamID], [teamname]) VALUES (1, N'Arsenal')
INSERT [dbo].[Teams] ([teamID], [teamname]) VALUES (2, N'Aston Villa')
INSERT [dbo].[Teams] ([teamID], [teamname]) VALUES (3, N'Bournemouth')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Teams__A97CE746E3F3EE03]    Script Date: 4/28/2026 6:34:01 PM ******/
ALTER TABLE [dbo].[Teams] ADD UNIQUE NONCLUSTERED 
(
	[teamname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[League_Table]  WITH CHECK ADD FOREIGN KEY([team_id])
REFERENCES [dbo].[Teams] ([teamID])
GO
ALTER TABLE [dbo].[Match_Features]  WITH CHECK ADD FOREIGN KEY([MatchID])
REFERENCES [dbo].[Matches] ([MatchID])
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([awayteamID])
REFERENCES [dbo].[Teams] ([teamID])
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([hometeamID])
REFERENCES [dbo].[Teams] ([teamID])
GO
ALTER TABLE [dbo].[Season_Rating]  WITH CHECK ADD FOREIGN KEY([teamID])
REFERENCES [dbo].[Teams] ([teamID])
GO
USE [master]
GO
